* {
    margin: 0;
    background-color: rgb(145, 168, 245);
}
p {
    margin: .5rem;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}