body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: aquamarine;
}
h1 {
    font-family: 'Comic Sans MS', 'Arial Narrow', Arial, sans-serif
}
.navbar {
    padding: 20px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a, .navbar strong {
    margin-right: 15px;
}

.photo-section {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.photo-section img {
    width: 32%;
    margin-right: 1.3%;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
}
img {
    height: 350px; width: auto;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: blueviolet;
}